<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="backupOps" class="com.nuodb.migrator.backup.XmlBackupOps" scope="prototype"/>
    <bean id="connectionProviderFactory" class="com.nuodb.migrator.jdbc.connection.LoggingConnectionProviderFactory">
        <constructor-arg>
            <bean class="com.nuodb.migrator.jdbc.connection.DriverConnectionProviderFactory"/>
        </constructor-arg>
    </bean>
    <bean id="dialectResolver" class="com.nuodb.migrator.jdbc.dialect.SimpleDialectResolver"/>
    <bean id="formatFactory" class="com.nuodb.migrator.backup.format.SimpleFormatFactory"/>
    <bean id="inspectionManager" class="com.nuodb.migrator.jdbc.metadata.inspector.InspectionManager"/>
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="com.nuodb.migrator.i18n.messages"/>
    </bean>
    <bean id="valueFormatRegistryResolver" class="com.nuodb.migrator.backup.format.value.SimpleValueFormatRegistryResolver"/>
</beans>