<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
    <test name="Migration">
        <groups>
            <run>
                <exclude name="integrationtest"/>
                <exclude name="mysqlintegrationtest"/>
                <exclude name="nuodbintegrationtest"/>
                <exclude name="linqdataloadperformed"/>
                <exclude name="nuodblinqtest"/>
                <exclude name="sqlserverintegrationtest"/>
                <exclude name="postgresqlintegrationtest"/>
                <exclude name="oracleintegrationtest"/>
		<exclude name="db2integrationtest"/>
                <exclude name="disabled"/>
            </run>
        </groups>
        <packages>
            <package name="com.nuodb.migrator.*"/>
        </packages>
    </test>
</suite>
